Repository ofiwg/libfabric, pull requests merged in 2019-10, with the labels that each got.

#5364 contrib/cray: Added Excluded result to parser
  contrib/cray/python/parse_results.py
Labels: cray-jenkins-build

#5363 contrib/cray: Increase the number of simultaneous jobs for the SFT tests
  contrib/cray/Jenkinsfile.verbs
Labels: cray-jenkins-build

#5369 contrib/cray: Change install label
  contrib/cray/Jenkinsfile.verbs
Labels: cray-jenkins-build

#5361 mr/cache: Tweaks to unsubscribe paths
  fabtests/ubertest/uber.c
  prov/util/src/util_mem_monitor.c
  prov/util/src/util_mr_cache.c
Labels: cray-jenkins-build

#5392 contrib/cray: Remove tag fetching from pipeline
  contrib/cray/Jenkinsfile.verbs
Labels: cray-jenkins-build

#5382 Multi-user permission fix
  fabtests/include/shared.h
  include/ofi_shm.h
  prov/efa/src/rxr/rxr_av.c
  prov/efa/src/rxr/rxr_ep.c
  prov/efa/src/rxr/rxr_init.c
  prov/shm/src/smr_ep.c
Labels: evaluating

#5372 v1.9.0rc1
  AUTHORS
  Makefile.am
  NEWS.md
  configure.ac
  fabtests/configure.ac
  fabtests/include/shared.h
  include/ofi.h
  include/rdma/fabric.h
  include/windows/config.h
  prov/bgq/src/fi_bgq_init.c
  prov/efa/src/efa_fabric.c
  prov/efa/src/rxr/rxr.h
  prov/gni/src/gnix_fabric.c
  prov/mrail/src/mrail_init.c
  prov/netdir/src/netdir_init.c
  prov/psm/src/psmx.h
  prov/psm2/src/psmx2.h
  prov/psm2/src/psmx2_init.c
  prov/rstream/src/rstream_init.c
  prov/rxd/src/rxd_init.c
  prov/rxm/src/rxm_init.c
  prov/shm/src/smr_init.c
  prov/sockets/src/sock_fabric.c
  prov/tcp/src/tcpx_init.c
  prov/udp/src/udpx_init.c
  prov/usnic/src/usdf_fabric.c
  prov/verbs/src/fi_verbs.c
Labels: cray-jenkins-build, evaluating
