Repository ofiwg/libfabric, pull requests merged in 2021-07, with the labels that each got.

#6901 prov/psm3: Fix psm3 cuda rbtree conflict
  prov/psm3/Makefile.include
  prov/psm3/psm3/include/psm3_rbtree.c
  prov/psm3/psm3/include/psm3_rbtree.h
  prov/psm3/psm3/psm_verbs_mr.c
  prov/psm3/psm3/ptl_am/am_cuda_memhandle_cache.c
  prov/psm3/psm3/ptl_ips/ips_tidcache.h
Labels: for-1.13.x, prov/psm3

#6902 libfabric release v1.13 CI validation
  AUTHORS
  NEWS.md
  configure.ac
  fabtests/configure.ac
  include/windows/config.h
Labels: for-1.13.x, ⚠️ Do not merge

#6920 [v1.11.x] prov/efa: Use correct descriptor for shm in efa
  prov/efa/src/rxr/rxr.h
  prov/efa/src/rxr/rxr_atomic.c
  prov/efa/src/rxr/rxr_ep.c
  prov/efa/src/rxr/rxr_pkt_entry.c
  prov/efa/src/rxr/rxr_read.c
  prov/efa/src/rxr/rxr_rma.c
Labels: bug, for-1.11.x, prov/EFA

#6918 [v1.12.x] prov/efa: use correct descriptor for shm provider's send
  prov/efa/src/rxr/rxr.h
  prov/efa/src/rxr/rxr_atomic.c
  prov/efa/src/rxr/rxr_ep.c
  prov/efa/src/rxr/rxr_pkt_entry.c
  prov/efa/src/rxr/rxr_read.c
  prov/efa/src/rxr/rxr_rma.c
Labels: bug, for-1.12.x, prov/EFA

#6954 prov/psm3: update code to match IEFS 11.1.0.0.178 release
  prov/psm3/VERSION
  prov/psm3/libpsm3-fi.spec.in
  prov/psm3/psm3/psm.c
  prov/psm3/psm3/psm2_mq.h
  prov/psm3/psm3/psm_hal_gen1/psm_gdrcpy.c
  prov/psm3/psm3/psm_mq.c
  prov/psm3/psm3/psm_mq_internal.h
  prov/psm3/psm3/psm_mq_recv.c
  prov/psm3/psm3/psm_rndv_mod.c
  prov/psm3/psm3/psm_rndv_mod.h
  prov/psm3/psm3/psm_user.h
  prov/psm3/psm3/psm_verbs_mr.c
  prov/psm3/psm3/psm_verbs_mr.h
  prov/psm3/psm3/ptl.h
  prov/psm3/psm3/ptl_am/am_reqrep_shmem.c
  prov/psm3/psm3/ptl_am/ptl.c
  prov/psm3/psm3/ptl_ips/ips_proto.c
  prov/psm3/psm3/ptl_ips/ips_proto_expected.c
  prov/psm3/psm3/ptl_ips/ips_proto_mq.c
  prov/psm3/psm3/ptl_self/ptl.c
Labels: prov/psm3

#6962 [v1.13.x] prov/psm3: update code to match IEFS 11.1.0.0.178 release
  prov/psm3/VERSION
  prov/psm3/libpsm3-fi.spec.in
  prov/psm3/psm3/psm.c
  prov/psm3/psm3/psm2_mq.h
  prov/psm3/psm3/psm_hal_gen1/psm_gdrcpy.c
  prov/psm3/psm3/psm_mq.c
  prov/psm3/psm3/psm_mq_internal.h
  prov/psm3/psm3/psm_mq_recv.c
  prov/psm3/psm3/psm_rndv_mod.c
  prov/psm3/psm3/psm_rndv_mod.h
  prov/psm3/psm3/psm_user.h
  prov/psm3/psm3/psm_verbs_mr.c
  prov/psm3/psm3/psm_verbs_mr.h
  prov/psm3/psm3/ptl.h
  prov/psm3/psm3/ptl_am/am_reqrep_shmem.c
  prov/psm3/psm3/ptl_am/ptl.c
  prov/psm3/psm3/ptl_ips/ips_proto.c
  prov/psm3/psm3/ptl_ips/ips_proto_expected.c
  prov/psm3/psm3/ptl_ips/ips_proto_mq.c
  prov/psm3/psm3/ptl_self/ptl.c
Labels: for-1.13.x, prov/psm3
